h1{
    padding-top: 100px;
    text-align: center;
    font-size: 5em;
}

h3{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 15px;
    font-size: 2.5em;
}

h4{
    display: table-cell;
    text-align: right;
    height: 70px;
    vertical-align: middle;
    padding-bottom: 20px;
}

table{
    background-color: white;
}

.dice{
    text-align: justify;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.label{
    margin-left: 10px;
    padding: .7em;
    font-size: 1.3em;
}

#results{
    padding-top: 25px;
    display: none;
}

#cashDisplay{
    display: table;
    height: 82px;
}

#cashLeft{
    font-size: 1.5em;
}

#playBtn{
    display: inline-block;
}