h1{
    font-size: 10em;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    color: gold;
}

h2{
    font-size: 3.5em;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    color: gold;
}

h3{
    font-size: 1.8em;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    color: gold;
}

div.header>table{
    padding-left: 5%;
}

th{
    font-size: 1.25em;
}

img {
    display: block;
    margin: auto;
    width:  40%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

a{
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover{
    font-weight: bold;
}

label{
    color: goldenrod;
}

noscript h1{
    text-align: center;
    font-size: 7em;
    color: red;
}

form div{
    text-align: left;
}

.header{
    color: silver;
    font-family: 'Play', sans-serif;
    background-color: #FFF;
    
}

.carousel-inner{
    max-height: 400px;
    height: 400px;
    overflow: hidden;
}

.dprice{
    color: rgb(255,215,0);
    text-align: left;
    }

.links{
    font-size: 1.3em;
}

.footer{
    color: darkgray;
    background-color: #FFF;
    text-shadow: 1px 1px #000000;
    margin-bottom: 20px;
}

.content{
    background-color: #222;
    align-content: center;
    color: antiquewhite;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.jumbotron{
    background-color: #bbb;
}

.jumbotron h1{
    font-size: 5.5em;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    color: gold;
}

.menuHeader{
    color: goldenrod;
    font-size: 1.5em;
    padding-bottom: .7em;
    text-decoration: underline;
}

.menuItem{
    text-align: center;
    vertical-align: text-top;
    padding-left: 2.5%;
    padding-right: 2.5%:
}

.menuDiv{
    min-height: 270px;
}

.formItem{
    width: 30%;
    text-align: right;
    font-weight: bold;
    color: goldenrod;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.formInput{
    width: 30%;
    text-align: left;
}

.inlineLabel{
    padding-right: 20px;
    padding-bottom: 15px;
}

.drinkItem{
    text-align: right;
    padding-right: 2%;
    padding-left: 1%;
}

#homeTable{
    width: 60%;
    padding: 1%;
    border: 3px solid silver;
}

#homeInfo{
    border: 3px solid silver;
}

#washoku{
    color: goldenrod;
}

#drinks{
    padding-right: 40px;
}
