h1{
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    color: gold;
}

div.header>table{
    padding-left: 5%;
}

table{
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

th{
    font-size: 1.25em;
}

a:visited {
    color: red;
}


.header{
    color: silver;
    font-family: 'Play', sans-serif;
    background-color: #FFF;
    
}

.links{
    width: 30%;
    font-size: 1.3em;
}

.footer{
    color: darkgray;
    background-color: #FFF;
    text-shadow: 1px 1px #000000;
    text-align: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

.content{
    background-color: #222;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.menuItem{
    text-align: center;
    width: 25%;
    vertical-align: text-top;
    padding-left: 2.5%;
    padding-right: 2.5%:
}

.formItem{
    width: 30%;
    text-align: right;
    font-weight: bold;
    color: goldenrod;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.formInput{
    width: 30%;
    text-align: left;
}

#homeTable{
    width: 60%;
    padding: 1%;
    border: 3px solid silver;
}

#washoku{
    color: goldenrod;
}

#menu{
    width: 85%;
}

#form{
    width: 60%;
}