body{
    background: lightgray;
}

p{
    color: crimson;
    text-align: center;
    font-size: 2em;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background: firebrick;
    color: black;
}

h1{
    color: firebrick;
    font-family: 'Amatic SC', cursive;
    font-size: 220px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h2{
    color: darkred;
    text-align: center;
    font-size: 3em;
}

ul{
    margin-left: 5%;
}
li {
    color: crimson;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.75em;
}

table{
    width: 60%;
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 1px darkred;
    border-width: medium;
    border-collapse: collapse;
    margin-bottom: 50px;
}

caption{
    font-size: 1.5em;
}

th{
    color: firebrick;
    background-color: black;
    border: solid 1px darkred;
    font-size: 1.5em;
}

td{
    color: crimson;
    background-color: slategray;
    border: solid 1px darkred;
    font-size: 1.5em;
    font-style: italic;
}

.image{
    margin-top: 50px;
    height: 500px;
    background-image: url(http://babymetal.net/wp-content/uploads/2014/01/bm.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}

.members{
    font-style: italic;
}

.track{
    text-align: center;
}

.title{
    padding-left: 20px;
}

#titleHeader{
    text-align: left;
    padding-left: 20px;
}