h1{
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    color: gold;
}

div.header>table{
    padding-left: 5%;
}

table{
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

th{
    font-size: 1.25em;
}

a{
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover{
    font-weight: bold;
}


.header{
    color: silver;
    font-family: 'Play', sans-serif;
    background-color: #FFF;
    
}

.links{
    width: 30%;
    font-size: 1.3em;
    margin-left: 0;
}

.footer{
    color: darkgray;
    background-color: #FFF;
    text-shadow: 1px 1px #000000;
    text-align: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

.content{
    background-color: #222;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.menuHeader{
    font-size: 1.5em;
    padding-bottom: .7em;
    text-decoration: underline;
}

.menuItem{
    text-align: center;
    width: 26%;
    vertical-align: text-top;
    padding-left: 2.5%;
    padding-right: 2.5%:
}

.formItem{
    width: 30%;
    text-align: right;
    font-weight: bold;
    color: goldenrod;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.formInput{
    width: 30%;
    text-align: left;
}

.menu{
    width: 85%;
}

.deadCell{
    width: 1%;
}

.drinkItem{
    text-align: left;
    padding-right: 2%;
    padding-left: 1%;
}

#homeTable{
    width: 60%;
    padding: 1%;
    border: 3px solid silver;
}

#washoku{
    color: goldenrod;
}


#vDivide{
    border-right: solid 1px silver;
    border-left: solid 1px silver;
    margin-left: 1%;
    margin-right: 1%;
}

#hDivide{
    height: 1.5em;
}

#drinkMenu{
    vertical-align: top;
    padding-top: 2%;
}

#form{
    width: 60%;
}