body{
    background: lightgray;
}

h1{
    color: firebrick;
}

h2{
    color: darkred;
}

li {
    color: crimson;
}

table{
    border-color: darkred;
    border-width: medium;
    border-collapse: collapse;
}

th{
    color: firebrick;
}

td{
    color: crimson;
}

.track{
    text-align: center;
}

.title{
    padding-left: 20px;
}

#titleHeader{
    text-align: left;
    padding-left: 20px;
}